[xml]
output = coverage.xml
package_depth = 10

[report]
show_missing = true
omit = *test_*

[run]
context = dynamic-context
plugins =
    Cython.Coverage
    TestPlugin
omit =
    *site-packages*
    *test_*
source =
    src
    angelos-archive7/src
    angelos-base/src
    angelos-bin/arc
    angelos-com/src
    angelos-common/src
    angelos-ctl/src
    angelos-document/src
    angelos-eidon/src
    angelos-facade/src
    angelos-lib/src
    angelos-net/src
    angelos-portfolio/src
    angelos-psi/src
    angelos-server/src
