*.c
*.so
*.tar.gz
/dist/
/build/
/angelos-*/build/
/angelos-*/dist/
/angelos-*/.tox/
/angelos-bin/tarball/*
!/angelos-bin/tarball/.gitkeep
/dev_env/*
*.egg-info/
/angelos-bin/usr/
/vagrant/
/vagrant2/