/venv/
/venv*/
.eggs
*.spec
*.pyc
*.so
*.log
*.pub
*.app
*.exe
*.cnl
*.ar7
*.c
**/__pycache__
/cython_debug
/build/
/dist/
/libangelos/
/logo/
*.egg-info/
/.buildozer/
# /.idea/

.DS_Store
MANIFEST

# Keep all the secondary makefiles for including
!/include/
/include/**
!/include/*.mk

!/docs/doctrees/
/docs/doctrees/**
!/docs/doctrees/.gitkeep

!/docs/html/
/docs/html/**
!/docs/html/.gitkeep

!/docs/html/_sources/
/docs/html/_sources/**
!/docs/html/_sources/.gitkeep

!/docs/html/_static/
/docs/html/_static/**
!/docs/html/_static/.gitkeep
