/venv/
.eggs
*.pyc
*.so
*.log
*.pub
*.app
*.exe
*.cnl
__pychache__
/build/
/dist/
/*.build/
/*.dist/
.DS_Store
*.spec
MANIFEST

# Keep the C entrypoints
*.c
!/angelos_main.c
!/logo_main.c

# Keep all the secondary makefiles for including
!/include/
/include/**
!/include/*.mk

!/serverroot/
/serverroot/**
!/serverroot/.gitkeep

!/clientroot/
/clientroot/**
!/clientroot/.gitkeep
