#
# Copyright (c) 2018-2020 by Kristoffer Paulsson <kristoffer.paulsson@talenten.se>.
#
# This software is available under the terms of the MIT license. Parts are licensed under
# different terms if stated. The legal terms are attached to the LICENSE file and are
# made available on:
#
#     https://opensource.org/licenses/MIT
#
# SPDX-License-Identifier: MIT
#
# Contributors:
#     Kristoffer Paulsson - initial implementation
#
[Unit]
Description = Run the Angelos server
After = network.target

[Service]
Type = forking
AmbientCapabilities = CAP_NET_BIND_SERVICE

ExecStart = angelos -d start
ExecStop = angelos -d stop
ExecReload = angelos -d restart

User = angelos
Group = angelos

# RootDirectory = /opt/angelos/angelos
RuntimeDirectory = angelos
StateDirectory = angelos
LogsDirectory = angelos
ConfigurationDirectory = angelos

KeyringMode = private

[Install]
WantedBy=default.target