Source: angelos
Section: python
Priority: extra
Maintainer: Kristoffer Paulsson <kristoffer.paulsson@talenten.se>
Build-Depends: python3, dh-virtualenv (>= 1.0), python3-setuptools, python3-pip, python3-dev
    # debhelper (>= 9), libffi-dev
Standards-Version: 1.0.0b1

Package: angelos
Architecture: amd64
Pre-Depends: dh-systemd, dpkg (>= 1.16.1), python3.7, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Ἄγγελος is a safe messenger system. Angelos means "Carrier of a divine message."