Source: angelos
Section: contrib/net
Priority: extra
Maintainer: Kristoffer Paulsson <kristoffer.paulsson@talenten.se>
Build-Depends: debhelper (>= 9), python, python3.7, dh-virtualenv (>= 1.0),
    python3-setuptools, python3-pip, python3-dev
Standards-Version: 1.0.0b1
Homepage: https://github.com/kristoffer-paulsson/angelos

Package: angelos
Architecture: amd64
Pre-Depends: dpkg (>= 1.16.1), python3.7, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: angelos
# Replaces: angelos (>= 1.0.0b1~), angelos (<< 1.0.b1~)
# Conflicts: angelos (>= 1.0.b1~), angelos (<< 1.0.b1~)
Description: Ἄγγελος is a safe messenger system. Angelos means "Carrier of a divine message."